@model PracticaMVC.Web.ViewModels.Detalle_UsuariosVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="@Url.Action("Index", "Usuarios")">Usuarios</a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <span class="active">Registro de Usuario</span>
            </li>
        </ul>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="portlet box dark">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>
                                Registro de Usuario
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-actions ">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="btn dark margin-right-10">
                                            Guardar
                                            <i class="fa fa-save"></i>
                                        </button>
                                        <button type="button" class="btn default grey" onclick="location.href='@Url.Action("Index", "Usuarios")';">
                                            Regresar
                                            <i class="fa fa-chevron-circle-left"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.IdUsuario, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.IdPerfil, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(x => Model.IdPerfil, new SelectList(Model.Perfiles, "Valor", "Texto", Model.IdPerfil),
                                                htmlAttributes: new { @class = "form-control", @id = "ddlPerfiles", @onchange = "GetPerfilesRoles(this.value)" })
                                        @Html.ValidationMessageFor(model => model.IdPerfil, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.IdPerfilRol, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(x => Model.IdPerfilRol, new SelectList(Model.PerfilesRoles, "Valor", "Texto", Model.IdPerfilRol),
                                            htmlAttributes: new { @class = "form-control", @id = "ddlPerfilesRoles" })
                                        @Html.ValidationMessageFor(model => model.IdPerfilRol, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script src="~/Content/js/bootstrap-multiselect.js"></script>
    <script src="~/Content/js/custom_multiselect.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Content/js/custom_datepicker.js"></script>
    <script src="~/Content/js/jquery.uploadifive.js"></script>
    <script src="~/Content/js/jquery.mask.min.js"></script>

    <script language="javascript" type="text/javascript">

        function GetPerfilesRoles(_IdPerfil) {
            var url = '@Url.Action("GetRolesByPerfil", "Usuarios")';
            $.ajax({
                url: url,
                data: { idPerfil: _IdPerfil },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Valor + ">" + data[x].Texto + "</option>";
                    }
                    $("#ddlPerfilesRoles").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }

    </script>
}
