@model IEnumerable<PracticaMVC.Web.Models.Listado_Permisos>


    @if (Model != null && Model.Count() > 0)
    {
        int index = 0;
        foreach (var item in Model)
        {
            <tr>
                <td style="display:none">
                    <input type="text" name="Listado_Permisos[@index.ToString()].IdPermiso" value="@item.IdPermiso" />
                    <input type="text" name="Listado_Permisos[@index.ToString()].Permiso" value="@item.Permiso" />
                </td>
                <td>
                    @item.Permiso
                </td>
                <td align="center">
                    <button class="btn btn-xs red btn-icon-circle" type="button" name="control" value="Eliminar Mixer"
                            onclick="DeletePermisoUsuario(@item.IdPermiso);">
                        <i class="fa fa-times mr-0 ml-0"></i>
                    </button>
                </td>
            </tr>
            index++;
        }
    }
    else
    {
        <tr>
            <td colspan="3">
                @Html.Label("Sin información de Permisos")
            </td>
        </tr>
    }
